
.container.pattern-0   > .bg-mask { -webkit-mask-image: url(masks/0.png); }

.container.pattern-1   > .bg-mask { -webkit-mask-image: url(masks/1.png); }

.container.pattern-2   > .bg-mask { -webkit-mask-image: url(masks/2.png); }

.container.pattern-3   > .bg-mask { -webkit-mask-image: url(masks/3.png); }

.container.pattern-4   > .bg-mask { -webkit-mask-image: url(masks/4.png); }

.container.pattern-5   > .bg-mask { -webkit-mask-image: url(masks/5.png); }

.container.pattern-6   > .bg-mask { -webkit-mask-image: url(masks/6.png); }

.container.pattern-7   > .bg-mask { -webkit-mask-image: url(masks/7.png); }

.container.pattern-8   > .bg-mask { -webkit-mask-image: url(masks/8.png); }

.container.pattern-9   > .bg-mask { -webkit-mask-image: url(masks/9.png); }

.container.pattern-10   > .bg-mask { -webkit-mask-image: url(masks/10.png); }

.container.pattern-11   > .bg-mask { -webkit-mask-image: url(masks/11.png); }

.container.pattern-12   > .bg-mask { -webkit-mask-image: url(masks/12.png); }

.container.pattern-13   > .bg-mask { -webkit-mask-image: url(masks/13.png); }

.container.pattern-14   > .bg-mask { -webkit-mask-image: url(masks/14.png); }

.container.pattern-15   > .bg-mask { -webkit-mask-image: url(masks/15.png); }

.container.pattern-16   > .bg-mask { -webkit-mask-image: url(masks/16.png); }

.container.pattern-17   > .bg-mask { -webkit-mask-image: url(masks/17.png); }

